body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FCFCFC;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 2%;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
h2{
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 2%;
    text-align: center;
}
h3 {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2%;

}
.accent {
    font-family: "Raleway", sans-serif;
    color: #4D5AE5;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 3%;
    text-transform: uppercase;
}
.logo {
    font-family: "Raleway", sans-serif;
    color: #2E2F42;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 3%;
    text-transform: uppercase;
}
.navigation
{
    color: #2E2F42;
    font-weight: 500;
}
.navigation:hover {
    color: #404BBF;
}
.navigation:active {
    color: #404BBF;
    text-decoration: underline;
}
.contacts {
    color: #434455;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 2%;
}
.contacts:hover {
    color: #404BBF;
}
.section-title
{
    background-color: #2E2F42;
}
.title 
{ font-size: 56px;
    font-weight: 700;
    letter-spacing: 2%;
    line-height: 1.07;
    color: #FFFFFF;
    text-align: center;
}
.title-button
{ font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500; 
    letter-spacing: 4%;
    line-height: 1.5;
    color: #FFFFFF;
    background-color: #4D5AE5;
    text-align: center;
    cursor: pointer;
}
.title-button:hover{
    background-color: #404BBF;
}
.advantages h2{
display: none;
}
.advantages h3{
    text-align: left;
}
.advantages p{
    text-align: left;
}
.team {
    background-color: #F4F4FD;
}
.team li{
    background-color: #FFFFFF;
    text-align: center;
}
.portfolio li {
    text-align: left;
}
footer{
    background-color: #2E2F42;
}
.footer-logo
{
    font-family: "Raleway", sans-serif;
    color: #F4F4FD;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 3%;
    text-transform: uppercase;
}
.footer-text
{
    color: #F4F4FD;
    text-align: left;
}
